name: Deploy Release SDK

concurrency: production

on:
  push:
    tags:
      - 'release/v*'

jobs:
  deployment:
    if: github.repository == 'eclipse-kuksa/kuksa-android-sdk'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Project
        uses: ./.github/actions/setup-project

      - name: Set Release Version
        run: ./gradlew setReleaseVersion # Do not chain this command because it writes into a file which needs to be re-read inside the next gradle command

      - name: Publish Library
        env:
          ORG_GPG_KEY_ID: ${{ secrets.ORG_GPG_KEY_ID }}
          ORG_GPG_PASSPHRASE: ${{ secrets.ORG_GPG_PASSPHRASE }}
          ORG_GPG_PRIVATE_KEY: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          ORG_OSSRH_PASSWORD: ${{ secrets.ORG_OSSRH_PASSWORD }}
          ORG_OSSRH_USERNAME: ${{ secrets.ORG_OSSRH_USERNAME }}
        run: ./gradlew publishAllPublicationsToOSSRHReleaseRepository
