name: deploy-snapshot

concurrency: production

on:
  push:
    branches:
      - main
      - testdeploy

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Update Version
        run: npm run bump-release # Updates the semantic version depending on the last commits e.g. feature / bugfix

      - name: Set Snapshot Version
        run: ./gradlew setSnapshotVersion # Do not chain this command because it writes into a file which needs to be re-read inside the next gradle command

      - name: Publish Library
        env:
          ORG_GPG_KEY_ID: ${{ secrets.ORG_GPG_KEY_ID }}
          ORG_GPG_PASSPHRASE: ${{ secrets.ORG_GPG_PASSPHRASE }}
          ORG_GPG_PRIVATE_KEY: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          ORG_OSSRH_PASSWORD: ${{ secrets.ORG_OSSRH_PASSWORD }}
          ORG_OSSRH_USERNAME: ${{ secrets.ORG_OSSRH_USERNAME }}
        run: ./gradlew --stacktrace publishAllPublicationsToOSSRHSnapshotRepository
